*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 17px;
    color: #323e41;
    font-family: Arial, Helvetica, sans-serif;
}
.card-container{
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(250px,0.5fr));
    justify-content: space-around;
}
.card{
    padding: 30px 20px;
    border-radius: 30px;
    background-color: #f8f8ff;
}
.card section{
    display: flex;
}
.card-header{
    padding-left: 3px;
}
.card-header h3{
    font-size: 1.3em;
    font-weight: 300;
    opacity: 0.9;
}
.card-date{
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-date p{
    font-size: 1.1em;
    font-weight: bolder;
    color:#5B9EAE;
}
.card-date svg{
    margin-right: 5px;
    height: 40px;
    fill: #5B9EAE;
}
.card-status{
    padding-left: 10px;
}
.card-status>span{
    border-radius: 10px;
    padding: 3px;
}
.card-status--paid>span{
    background-color:#d2e7c5;
}
.card-status--pending>span{
    background-color: #f5f4bc;
}
.card-author{
    margin-top: 15px;
    text-indent: 10px;
    font-size: 0.8em;
    font-style: italic;
    opacity: 0.8;
}
.card-skills{
    padding: 5px 0;
}
.card-skills ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.card-skills li{
    font-size: 1.1em;
}
.card-skills li::before{
    content: " / ";
    white-space:pre;
}
.card-skills li:first-child::before{
    content: "";
}
.card-user-container{
    flex-direction: column;
    align-items: center;
    padding:20px 0;
}
.card-user-container ul{
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.card-user-container *{
    font-size:0.9em;
}
.card-user-container span{
    font-weight: bolder;
}
.card-user{
    margin-left: -25px;
    position: relative;
    border:1px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    overflow:hidden;
    height:100%;
    widows: 100%;
}
.card-user img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.card-user:last-child {
    border:none;
    margin-left: 0;
    margin-right: 30px;
}